*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	min-height: 100vh;
	/*background-image: url(img/cafe.jpg);*/
	/*background-color: #3396FF;*/
	background: #1488CC;  
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); 
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.header:before{
	content: '';
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	/*background-image: linear-gradient(rgba(255,255,255, .1), rgba(34,40,49, 1));*/ 
}

.bg-dark{
	position: fixed;
	z-index: 20;
	width: 100%;
}

.navg a{
	color: #f4f4f4 !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration-color: red;
}

.navg a:hover{
	background-color: #12E7CD
}
h1{
	text-align: center;
	font-family:'Montserrat', sans-serif;
	color: #f4f4f4;
	font-size: 30px;
}
hr{
	color: white;
}
section h2{
	font-size: 30px;
	text-align: center;
	color: #f4f4f4;
	font-family:'Montserrat', sans-serif;
}
section div img{
	width: 30%;
	display: block;
	margin: auto;
}
